{% extends "index.html" %}

{% block title %} Settings {% endblock %}

{% block content %} 
<header class="d-flex w-100 position-relative p-2">
    <a href="/" class="btn btn-primary fs-4">Back</a>
    <h1 class="position-absolute top-50 start-50 translate-middle m-0">Settings</h1>
</header>

<div class="d-flex row">

    <div class="col-2 p-4 text-start border">
        <div><a class="settings-index" href="/settings">General</a></div>
        <div><a class="settings-index mt-4" href="/settings/search">Search</a></div>
        <div><a class="settings-index mt-4" href="/settings/AI-Settings">AI Settings</a></div>


    </div>

    <!-- This puts in exact middle -->
    <!-- <div class="col-10 p-4 position-absolute top-50 start-50 translate-middle border"> -->
    <div class="col-10 p-4">
        <div class="text-start ps-4" > 
            <p>Settings....</p>
            
        <!-- Logo Settings -->
        <div class="">
            <h2>Custom Logo Settings</h2>
                        

            <div class="p-4">

                <div class="row">
                    <div class="col-auto">
                        <form action="/preview" method="POST" id=preview enctype="multipart/form-data">
                            <input type="file" name="file" required onchange="document.getElementById('preview').submit();">
                        </form>
                    </div>    
                </div>
       
            </div>

    
        </div>

    </div>
    </div>
    



{% endblock %}

